<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MapContenders</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>

  <!-- mapbox -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet"/>

  <!-- mapbox geocoder -->
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" rel="stylesheet"/>

  <style>
      body, html {
          width: 100%;
          height: 100%;
          margin: 0;
      }

      #map {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
      }

  </style>
</head>

<body>

    <div id="map"></div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ3VpbGhlbWFsbGFtYW4iLCJhIjoiY2tvaDE4aDVrMDZyOTJ4cm1iN2d2cmdvZSJ9.QGZWNRs4nqojocpp5eQF9w';
        const map = new mapboxgl.Map({
            container: 'map',
            style: '{{ url_for("Tiles.MapBoxElaborateStyleView", _external=True) }}',
            zoom: 1,
            center: [0, 0]
        });

        map.addControl(
            new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl,
                collapsed: true,
                language: navigator.language
            })
        );
        map.addControl(new mapboxgl.NavigationControl());
        map.addControl(new mapboxgl.GeolocateControl());

    </script>

</body>
</html>
